.cityListItem {
  background-size: cover;
  display: inline-block;
  height: 41vh;
  width: 57vw;
}
  .cityListItem:nth-child(1) {
    margin-bottom: 0.8vh;
  }
  .cityListItem:nth-child(1):hover {
    cursor: pointer;
    filter: brightness(1.2) drop-shadow(2px 4px 3px #222) !important;
    transform: scale(1.02);
  }
  .cityListItem:nth-child(2):hover {
    cursor: not-allowed;
  }

.cityListItemLabel {
  background: white;
  border: solid 0.2rem;
  box-shadow: 0.66vw 1vh #222222;
  float: right;
  font-size: 2.4rem;
  left: 13.6%;
  letter-spacing: 0.75vw;
  line-height: 4.5rem;
  padding: 0 1rem;
  position: relative;
  text-transform: uppercase;
  top: 40.4%;
}
  .cityListItemLabel:hover {
    filter: invert(1);
    cursor: pointer;
  }

.mapMarkerIcon {
  height: 0.9em;
  margin-right: 0.4em;
  transform: translateY(0.4vh);
}

.comingSoon {
  position: absolute;
  left: 30vw;
  top: 63vh;
  font-size: 6vw;
  background: white;
  padding: 0.5rem 0 0 1rem;
  border: solid 5px #222;
}
.comingSoon:hover {
  cursor: not-allowed;
}