.events {
  display: grid;
  font-family: "Space Mono";
  font-size: 2rem;
  grid-template: 1fr 4fr / 2fr 4fr 10fr;
  height: 100vh;
}

.eventsHeader {
  align-self: self-end;
  font-size: 4rem;
  grid-area: 1 / 2 / 1 / -1;
  letter-spacing: 20px;
  text-transform: uppercase;
}

.eventInfo {
  grid-area: 2 / 3 / -1 / -1;
  margin-top: 5rem;
  padding: 0 10%;
  text-align: left;
}

.eventInfoSubtitle {
  font-size: 24px;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.eventInfoDescription {
  display: block;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 2rem;
  width: 79%;
}
