.hashItem,
.hashMarker {
  display: block;
  margin-bottom: 1rem;
  width: 6.15rem;
}

.hashItem {
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.5rem 0.8rem;
  text-align: center;
  letter-spacing: 4.5px;
  background: #222222;
}
.hashItem:hover {
  cursor: pointer;
}

.hashMarker {
  background: none;
  border-left: solid 4px;
  height: 2.2rem;
  width: 7.5rem;
}
