.hashItem,
.hashMarker {
  display: block;
  background: #222222;
  margin-bottom: 1rem;
}

.hashItem {
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.5rem 0.8rem;
  text-align: center;
  letter-spacing: 4.5px;
}

.hashMarker {
  width: 0.2rem;
  height: 2rem;
}
