.about {
  color: white;
  background: #222222;
  display: grid;
  filter: saturate(0);
  font-family: "Space Mono";
  font-size: 2rem;
  height: 75rem;
  position: relative;
}
.about > nav span {
  color: #222222 !important;
  background: white !important;
}

.aboutTitle,
.cityscapeWaves,
.aboutInfo {
  position: absolute;
}

.aboutTitle {
  color: #222222;
  font-size: 3.6rem;
  letter-spacing: 20px;
  background: white;
  width: fit-content;
  text-align: center;
  left: 9rem;
  top: -6rem;
  padding-left: 1rem;
  border: solid 4px #222222;
  text-transform: uppercase;
}

.cityscapeBottom {
  left: 11rem;
  top: 7rem;
  margin: 6rem auto;
  width: 74rem;
}

.cityscapeWaves {
  left: 15.5rem;
  top: 31rem;
  width: 19.2rem;
}

.aboutInfo {
  color: white;
  left: 10rem;
  position: absolute;
  top: 39.1rem;
}

.aboutHeader {
  font-size: 1.4rem;
  letter-spacing: 6px;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.aboutBody {
  font-family: "Poppins";
  font-size: 1rem;
  width: 29.7rem;
}

.topCard {
  position: absolute;
  left: 42rem;
  top: 33.8rem;
}

.topImage {
  width: 13rem;
  z-index: 3;
  position: absolute;
}

.topBorder {
  width: 12.7rem;
  position: absolute;
  height: 12.4rem;
  top: -1.3rem;
  left: 1rem;
  z-index: 1;
  border: white 5px solid;
}

.bottomCard {
  position: absolute;
  left: 45rem;
  top: 38.7rem;
  z-index: -1;
}

.bottomImage {
  width: 24rem;
}

.bottomBorder {
  width: 24rem;
  position: absolute;
  height: 24rem;
  top: -1.5rem;
  left: 1.3rem;
  z-index: -2;
  border: white 5px solid;
}


.leftCard {
  position: absolute;
  left: 15rem;
  top: 66rem;
}

.leftImage {
  width: 27rem;
}

.leftBorder {
  width: 26.7rem;
  position: absolute;
  height: 12.4rem;
  top: -1.3rem;
  left: 1rem;
  z-index: -1;
  border: white 5px solid;
}

.sideLabel {
  font-family: "Poppins";
  font-size: 0.9rem;
  left: 72.5rem;
  letter-spacing: 4.5px;
  position: absolute;
  text-transform: uppercase;
  top: 61.3rem;
  transform: rotate(-90deg);
  transform-origin: left;
  width: 35rem;
}
