.team {
  font-size: 2rem;
  margin-top: 37rem;
  position: relative;
}


.teamHeader {
  font-size: 3.7rem;
  letter-spacing: 20px;
  text-transform: uppercase;
  position: absolute;
  left: 9rem;
  top: -42rem;
}

.teamList {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 60rem;
}

