.welcome {
  background: #222222;
  display: grid;
  font-family: "Space Mono";
  font-size: 2rem;
  grid-template-columns: 1fr 3fr;
  height: 56rem;
}

.welcomeHeader {
  font-size: 2.3rem;
  letter-spacing: 0.28px;
  position: absolute;
  text-transform: uppercase;
  top: 19rem;
  width: 20rem;
  left: 10rem;  
  animation: blink 3s infinite;
}

.cityscapeTop {
  left: 9.2rem;
  position: absolute;
  top: 26.5rem;
  width: 53rem;
}

@keyframes blink {
  0% {
    color: white;
  }
  50% {
    color: white;
  }
  51% {
    color: black;
  }
  52% {
    color: white;
  }
  53% {
    color: black;
  }
  54% {
    color: white;
  }
  100% {
    color: white;
  }
}