.welcome {
  background: #222222;
  display: grid;
  font-family: "Space Mono";
  font-size: 2rem;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
}

.welcomeHeader {
  color: white;
  font-size: 2.3rem;
  letter-spacing: 0.28px;
  position: absolute;
  text-transform: uppercase;
  top: 16.3rem;
  left: 9.4rem;
}

.cityscapeTop {
  left: 13.2rem;
  position: absolute;
  top: 21.5rem;
  width: 83vw;
}
