.comingSoon {
  background-color: #222222;
  display: grid;
  color: white;
  height: 21rem;
  position: relative;
  grid-template: 1fr 2.6fr / 30rem 3fr;
}

.comingSoon .comingSoonTitle,
.comingSoonHeader {
  font-weight: bold;
  text-transform: uppercase;
}

.comingSoonTitle {
  color: #222222;
  font-size: 3.3rem;
  letter-spacing: 20px;
  background: white;
  width: 42rem;
  padding: 0 0.7rem;
  text-align: center;
  left: 8rem;
  position: absolute;
  top: -5.4rem;
  border: solid 4px #222222;
  /* animation: blink 1.5ms infinite;  */
}

.comingSoonHeader,
.comingSoonBody {
  grid-column: 2;
}

.comingSoonHeader {
  font-size: 1.7rem;
  letter-spacing: 6px;
  margin: 0;
  display: flex;
  align-self: self-start;
  grid-row: 2;
}

.comingSoonBody {
  font-family: Poppins;
  width: 34rem;
  grid-row: 2;
  margin-top: 6rem;
}

.questionMark {
  z-index: 3;
  position: absolute;
  width: 5rem;
  top: 12.6rem;
  left: 14.8rem;
  height: 7rem;
}

.questionMarkBorderFront,
.questionMarkBorderBack {
  position: absolute;
  height: 16.8rem;
  width: 12.6rem;
}

.questionMarkBorderFront {
  border: solid 2px white;
  background-color: #222222;
  top: 7.7rem;
  left: 10.6rem;
  z-index: 2; 
}

.questionMarkBorderBack {
  border: solid 4px white;
  background-color: #222222;
  top: 7rem;
  left: 11rem;
  z-index: 1;
  animation: Pulse 1.5s infinite;
}


@keyframes blink {
  0% {
    color: #222222;
  }
  50% {
    color: #222222;
  }
  51% {
    color: white;
  }
  52% {
    color: #222222;
  }
  53% {
    color: white;
  }
  54% {
    color: #222222;
  }
  100% {
    color: #222222;
  }
}


@keyframes Pulse {
  0% {
    transform: scale(1);
  } 
  10% {
    transform: scale(1.025);
  }
  100% {
    transform: scale(1);
  }
}